/**
 * Place your custom styles here.
 */

h2.block-title {
  font-size: 14px;
}

.navbar-brand {
  padding: 47px 15px;
}

.facets-widget-checkbox.facet-item__value {
  font-weight: 500;
  padding-left: 4px;
}

li.facet-item {
  list-style-type: dash;
}